.calander-board {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center {
  justify-content: center;
}

.month {
  text-align: center;
  margin: 0 10px 0 10px;
  font-family: "Jua", sans-serif;
  font-size: 70px;
}

.name {
  font-size: 40px;
  padding-top: 25px;
}

.head {
  display: flex;
}

.weekName {
  text-align: center;
  margin: 0 5px 0 5px;
  flex: 1 1 180px;
  font-family: "Jua", sans-serif;
  font-size: 35px;
}

.cal-item:nth-child(1),
.cal-item:nth-child(2) {
  flex-grow: 1;
}
.cal-item:nth-child(3) {
  flex-grow: 20;
}

.button {
  margin: 0 10px 0 10px;
  border: 0;
  color: #fffff3;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
