.calander-board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  margin-right: 2vw;
}

.center {
  justify-content: center;
}

.month {
  text-align: center;
  margin: 0 0.5vw 0 0.5vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: calc(2.5vh + 2.5vw);
}

.name {
  font-size: calc(1.4vh + 1.4vw);
}

.head {
  display: flex;
}

.weekName {
  text-align: center;
  margin: 0 0.2vw 0 0.2vw;
  flex: 1 1 180px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: calc(1vh + 1vw);
}

.cal-item:nth-child(1),
.cal-item:nth-child(2) {
  flex-grow: 1;
}
.cal-item:nth-child(3) {
  flex-grow: 20;
}

.button {
  margin: 0 0.5vw 0 0.5vw;
  border: 0;
  color: #fffff3;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;

  img {
    width: 2vw;
    height: 4vh;
  }
}
