.calander-board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  margin-right: 2vw;
}

.center {
  justify-content: center;
}

.month {
  text-align: center;
  margin: 0 0.5vw 0 0.5vw;
  font-family: "Jua", sans-serif;
  font-size: calc(2.8vh + 2.8vw);
}

.name {
  font-size: calc(1.5vh + 1.5vw);
  padding-top: 2vh;
}

.head {
  display: flex;
}

.weekName {
  text-align: center;
  margin: 0 0.2vw 0 0.2vw;
  flex: 1 1 180px;
  font-family: "Jua", sans-serif;
  font-size: calc(1.2vh + 1.2vw);
}

.cal-item:nth-child(1),
.cal-item:nth-child(2) {
  flex-grow: 1;
}
.cal-item:nth-child(3) {
  flex-grow: 20;
}

.button {
  margin: 0 0.5vw 0 0.5vw;
  border: 0;
  color: #fffff3;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;

  img {
    width: 2vw;
    height: 4vh;
  }
}
