@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  box-sizing: border-box;
}

html,
body,
button {
  cursor: url(/icon.svg), auto;
}

#root {
  width: 100%;
  height: 100%;
  cursor: url(/icon.svg), auto;
}
